<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!--For energy price-->
  <configSections>
    <section name="TransactionNode" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <TransactionNode>
    <add key="UCLANode" value="LACSD_7_N001" />
  </TransactionNode>
  <!--For energy price-->

  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="RefreshInterval" value="240000" />
    <add key="EncriptedOrHashed" value="Encripted" />
    <!--If Encripted, value="Encripted", if Hashed value="Hashed"-->
    <add key="RijKey" value="wUkNsQsTOr3H5KUsAWNgE3MDHQaeUDtVD6CRT6XuBJM=" />
    <add key="RijIV" value="3EsSRjbXYXXmnSrCkrXbHg==" />
    <add key="blnShowSocialMediaOnProfile" value="true" />
    <add key="EnergyPrice" value="12" />
    <add key="UserManual" value="EVSmartPlugUserManual.pdf" />
    <add key="EmailValidationEmailBodyLocation" value="ValidatedEmail.txt" />
    <add key="SRActivePowerGap" value="500" />
    <add key="SRCurrentGap" value="5" />
    <add key="fltCurrentThreshold" value="0.5" />
    <add key="MaxSelectionYearRange" value="5" />
    <add key="EmailServerTimeOut" value="30000" />
    <add key="WindowsService" value="StationControllerAndDataCollector" />
    <add key="RestartWindowsService" value="true" />
    <add key="SendFeedbackEmail" value="true" />
    <add key="FeedbackNotes" value="Please check on www."/>
    <add key="intOrganization" value="1" />
    <add key="FeedbackLengthInList" value="75" />
    <!--Chart style-->
    <add key="XFontSize" value="10" />
    <add key="YFontSize" value="10" />
    <add key="YTitleFontSize" value="10" />
    <add key="XLabelColor" value="DarkGray" />
    <add key="YLabelColor" value="SteelBlue" />
    <add key="YTitleColor" value="SteelBlue" />
    <add key="XLineColor" value="SteelBlue" />
    <add key="YLineColor" value="SteelBlue" />
    <add key="XGridLineColor" value="Gray" />
    <add key="XGridMinorLineColor" value="Gray" />
    <add key="YGridLineColor" value="Gray" />
    <add key="YGridMinorLineColor" value="Gray" />
    <add key="XGridLineWidth" value="1" />
    <add key="YGridLineWidth" value="1" />
    <add key="XLineWidth" value="1" />
    <add key="YLineWidth" value="0" />
    <add key="LineWidth" value="3" />
    <add key="LineType" value="Line" />
    <add key="MarkerStyle" value="Circle" />
    <add key="MaxKWH" value="85" />
    <add key="ChargingListRowColor1" value="#cccccc" />
    <add key="ChargingListRowColor2" value="silver" />
    <add key="ChartHeight" value="600" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Server=localhost;Integrated Security=true;Database=EVDemo" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <!-- The following two items for google map with button -->
    <!--<httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />-->
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add tagPrefix="artem" namespace="Artem.Google.UI" assembly="Artem.Google" /></controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name="MC" loginUrl="~/Account/Login.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
      <!--<allow users="admin"/>-->
      <!--<allow roles="General Administrator" />
      <allow roles="General Maintainer" />
      <allow roles="General Operator" />
      <allow roles="Santa Monica Administrator" />
      <allow roles="Livermore Administrator" />
      <allow roles="UCLA - Los Angeles Maintainer" />
      <deny users="*" />-->
    </authorization>
    <membership>
      <providers>
        <clear />
        <!--<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Encrypted" applicationName="/" />-->
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Hashed" applicationName="/" />
      </providers>
    </membership>
    <profile enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
      <properties>
        <add name="FirstName" />
        <add name="LastName" />
        <add name="Address1" />
        <add name="Address2" />
        <add name="CityID" />
        <add name="ZipCode" />
        <add name="PhoneNo" />
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <!--<customErrors mode="Off"/>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <!--<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
</configuration>

